<!DOCTYPE html>
<html>
<head>
	<title>Consultar ingresos</title>
	<meta name="viewport" content="width-device-width, user scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../CSS1/iniciosesionCliente.css">
	<link rel="shorcut icon" type = "image/x-icon" href="../images/logo.ico">
</head>
<body>
	<header><nav>
		<div id="divnav">
		<ul>
			<il id="litop" title="Está registrado">Nombre usuario </il>
			<il id="litop" title="Ir a inicio">Página principal </il>
			<il id="litop" title="Salir de la página">Cerrar sesión <img id="logout" src="../images/logout.png"> </il>
		</ul>
		</div>
		</nav>
		
	</header>


	
	<form id="centrado">
		<div  >
		<div  >
			<div  id="formulario">
				
				<br>
				<h3><img src="../images/logo.png" id="logo"> Inicio sesión</h3>
				<br><br>
				<br><br>
				<div id="ingresar">
				<span  id="texto">Correo</span>
				<br>
				<input type="text" name="form-control" placeholder="Xxjuanitopro777xX@gmail.com" required="">
				<br><br>
				<span id="texto1" >Contraseña</span>
<br>
				<input type="password" name="form-control"placeholder="*******" required="">
			</div>
				<br>
				<a href="" id="moverlink">¿Has olvidado tu contraseña?</a>
				<br><br>
				<br><br>
				<br><p>Al continuar, aceptas las Condiciones de uso y el Aviso de privacidad de Jade</p>
				<input type="submit" name="iniciar" value="inciar sesión" id="btn">
				<a href="" id="iniciar">¿nuevo por acá? registrate</a>

			</div>
		</div>

	</div>
	</form>
	
	
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.jss"></script>
</body>
</html>